#The Data structure of python

In [87]:
print('Hello this is nothing') #return Hello this is nothing

Hello this is nothing

#list in python
>-allow duplicates,[],ordered

In [88]:
l=[1,2,-1,0,'string',True]
print(l)  #return [1, 2, -1, 0, 'string', True]

[1, 2, -1, 0, 'string', True]

In [89]:
l.append(4.5j)
print(l) #return [1, 2, -1, 0, 'string', True, 4.5j]

[1, 2, -1, 0, 'string', True, 4.5j]

In [90]:
l.insert(1,1)
print(l) #retrun [1, 1, 2, -1, 0, 'string', True, 4.5j]

[1, 1, 2, -1, 0, 'string', True, 4.5j]

In [91]:
l.pop()
print(l) #return [1, 1, 2, -1, 0, 'string', True]

[1, 1, 2, -1, 0, 'string', True]

In [92]:
print(l.pop())   #inline short code return True

True

In [93]:
l.pop(1)
print(l) #return [1, 2, -1, 0, 'string']

[1, 2, -1, 0, 'string']

In [94]:
l.extend(['string',True])
print(l) #return [1, 2, -1, 0, 'string', 'string', True]

[1, 2, -1, 0, 'string', 'string', True]

In [95]:
l.remove(1)
print(l) #return [2, -1, 0, 'string', 'string', True]

[2, -1, 0, 'string', 'string', True]

In [96]:
print(l.count('string')) #return 2

2

In [97]:
print(l.sort())
#return
#TypeError: '<' not supported between instances of 'str' and 'int'

TypeError: '<' not supported between instances of 'str' and 'int'

#here is the think,in list when you have only int or string at the time the sort is possible

In [98]:
print(l.reverse())  #if you write the method like that,when the method have to retrun true or return something, 
    #if it is not return you write the code below
    #return None

None

In [99]:
l.reverse()
print(l) #return [True, 'string', 'string', 2, 0, -1]

[-1, 0, 2, 'string', 'string', True]

In [100]:
l1=l.copy()
print(l1) #return [True, 'string', 'string', 2, 0, -1]

[-1, 0, 2, 'string', 'string', True]

In [101]:
l1.clear()
print(l1) #return []

[]

#sets in python
>{},unordered,no duplicates
>A set in Python is an unordered collection of unique items. It is commonly used when you want to store distinct elements and perform operations like union, intersection, and difference efficiently.

In [102]:
s={1,3,5,-1,4.j,True,'String'}
print(s) #return {1, 3, 5, 4j, -1, 'String'}

{1, 3, 5, 4j, -1, 'String'}

In [103]:
s.add(2)
print(s) #return {1, 2, 3, 5, 4j, -1, 'String'}

{1, 2, 3, 5, 4j, -1, 'String'}

In [104]:
s.pop()
print(s) #return {2, 3, 5, 4j, -1, 'String'}

{2, 3, 5, 4j, -1, 'String'}

In [105]:
s.remove(2)
print(s) #return {3, 5, 4j, -1, 'String'}

{3, 5, 4j, -1, 'String'}

In [106]:
s.discard(2)
print(s) #return {3, 5, 4j, -1, 'String'}

{3, 5, 4j, -1, 'String'}

member check

In [107]:
print(3 in s) #return True

True

In [108]:
set1={1,2,3,4}
set2={4,5,6,7}
print(set1.union(set2))
    #another way of union
print(set1 | set2)  #return {1, 2, 3, 4, 5, 6, 7}
                            #{1, 2, 3, 4, 5, 6, 7}

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [109]:
print(set1 & set2)
print(set1.intersection(set2))
#return {4} {4}

{4}
{4}

In [110]:
print(set1 - set2)
print(set1.difference(set2))
print(set2.difference(set1))
# return {1, 2, 3}
#{1, 2, 3}
#{5, 6, 7}

{1, 2, 3}
{1, 2, 3}
{5, 6, 7}

In [111]:
print(set1 ^ set2)
print(set1.symmetric_difference(set2))  #opposition of intersection, intersection output:4
#return {1, 2, 3, 5, 6, 7}
#{1, 2, 3, 5, 6, 7}

{1, 2, 3, 5, 6, 7}
{1, 2, 3, 5, 6, 7}

previous methods union, intersection,difference,symmetric_difference
> you can update the set using "_update" along with the function
> Example:
> union_update()  - once update the set, The value of set updated

In [112]:
print(set1,set2) #return {1, 2, 3, 4} {4, 5, 6, 7}

{1, 2, 3, 4} {4, 5, 6, 7}

In [113]:
print(set1.isdisjoint(set2))  #return False

False

The method "set1.isdisjoint(set2)" checks whether the two sets, set1 and set2, have no elements in common. If they share at least one element, it returns False.

In [114]:
set1.remove(4)
print(set1) #return {1, 2, 3}

{1, 2, 3}

after the remove the common element 4, the result

In [115]:
print(set1.isdisjoint(set2)) #return True

True

In [116]:
print(set1.issuperset(set2)) #False
print(set1.issubset(set2)) #False

False
False

If A = {1, 2} and B = {1, 2, 3, 4}:
>Subset: A is a subset of B (all elements of A are in B).
>Superset: B is a superset of A (all elements of A are in B).
>if it is not retrun false

In [117]:
A = {1, 2}
B = {1, 2, 3, 4}
print(A,B) #{1, 2} {1, 2, 3, 4}

{1, 2} {1, 2, 3, 4}

In [118]:
print(A <= B) #issubset() #return True
print(B >= A) #issuperset() #return True

print(B.issubset(A)) #return False
print(A.issuperset(B)) #return False

True
True
False
False

Frozen Sets
A frozenset is an immutable version of a set. Once created, you cannot modify it.

In [121]:
frozen = frozenset([1, 2, 3])
print(frozen)  # Output: frozenset({1, 2, 3})

frozenset({1, 2, 3})

tuple in python
>(),duplicates,unchangeable or immutable
>>A tuple is an immutable, ordered collection of elements in Python. It is similar to a list, but tuples cannot be modified after creation, making them useful for storing data that should not change.

In [122]:
t=(1,2,5,-1,2,True,'String')
print(t) #(1, 2, 5, -1, 2, True, 'String')

(1, 2, 5, -1, 2, True, 'String')

In [124]:
t1=1,2,3   #Parentheses are optional when defining a tuple with commas.
print(t1) #(1,2,3)

(1, 2, 3)

Tuple Methods
>Tuples have only two built-in methods due to their immutability:count(),index()

In [127]:
print(t.count(2)) #2

2

In [128]:
print(t.index(2)) #1

1

#Tuple Unpacking
>You can assign tuple elements to variables directly.

In [129]:
my_tuple = (10, 20, 30)
a, b, c = my_tuple
print(a, b, c)  # Output: 10 20 30

10 20 30

In [2]:
tuple1 = (1, 2)
tuple2 = (3, 4)
result = tuple1 + tuple2 #concatinate
result1=tuple1*2 #repetition
print(result)  # Output: (1, 2, 3, 4)
print(result1) #output (1, 2, 1, 2)

(1, 2, 3, 4)
(1, 2, 1, 2)